# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Streamlit local config
.streamlit/

# Logs
*.log
