# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Generated project outputs
data/
figures/
models/

# System files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/